.root {
    -fx-background-color: #2B2B2B;
}
.round-box{
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-width: 5px;
    -fx-background-color: #F3F3F3
}
#top, #left, #center, #bottom{
    -fx-background-color: #2B2B2B;
}
#center {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #2B2B2B;
}
#center .button, .label, .text-field {
    -fx-background-color: #3C3F41;
    -fx-text-fill: #FFFFFF;
}
#center .button:hover {
    -fx-text-fill: #C4D2E5;
    -fx-background-color: #216283;

}
#left {
    -fx-background-color: #2B2B2B;
    -fx-padding: 5;
}
#left .button{
    -fx-background-color: #3C3F41;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
}
#left .button:hover {
    -fx-text-fill: #C4D2E5;
    -fx-background-color: #216283;

}
#bloc {
    -fx-padding: 5;
}
#case {
    -fx-background-color: #3C3F41;
    -fx-opacity: 0.9;
}
#case .button {
    -fx-border-radius: 5;
}
#case:hover {

    -fx-opacity: 0.6;
}
#listView {
    -fx-background-color: #3C3F41;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.list-cell .corner{
    -fx-background-radius: 7px 7px 0px 0px;
    }
.list-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
#numbers {
    -fx-text-fill: #6897BB;
}
#caseInput{
    -fx-background-color: #2B2B2B;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
}
 #searchButton {
     -fx-border-color: #FFFFFF;
     -fx-background-color: #3C3F41;
     -fx-border-radius: 5;
 }
 #searchButton:hover {
    -fx-background-color: #216283;
    -fx-opacity: 0.3;
    }

 #searchButton:pressed {
     -fx-background-color: #216283;
     -fx-opacity: 0.8.
     ;
 }
 .list-cell:filled:selected:focused, .list-cell:filled:selected {
       -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
       -fx-text-fill: white;
   }

   .list-cell:odd {
       -fx-cell-hover-color: #0093ff;
       -fx-background-color: white;
   }

   .list-cell:filled:hover {
       -fx-cell-hover-color: #0093ff;
       -fx-text-fill: white;
   }
