#anchor1 {
-fx-background-color:#F1F1F1;
}
#box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15;
    -fx-opacity: 0.8;

}

.button {
    -fx-background-color: #216283;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}.button:hover {
    -fx-text-fill: #C4D2E5;
    -fx-opacity: 0.8;
    -fx-background-color: #216283;

}
}.button:pressed {
    -fx-text-fill: #C4D2E5;
    -fx-background-color: #214283;
    -fx-opacity: 0.8;
}
#att {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #216283;
    -fx-size: 15px;
    -fx-opacity: 0.5;

}
#att:hover, #att:pressed {
    -fx-opacity: 1;
    -fx-text-fill: #902C29;

}
.label {
    -fx-text-fill: #216283;
    -fx-font-weight: bold;
}
#title {
    -fx-background-color: #216283;
    -fx-text-fill: #FFFFFF;
    /*-fx-font-family: "Book Antiqua";*/
    -fx-font-size: 17;
    -fx-padding: 3;
}